/*
 * An increased contrast highlighting scheme loosely based on the
 * "Base16 Atelier Dune Light" theme by Bram de Haan
 * (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/dune)
 * Original Base16 color scheme by Chris Kempson
 * (https://github.com/chriskempson/base16)
 */

/* Comment */
.hljs-comment,
.hljs-quote {
    color: #575962;
}

.hljs-keyword,
.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
    color: #e37049;
}

.hljs-number,
.hljs-literal {
    color: #848cb8;
}

.hljs-built_in,
.hljs-builtin-name {
    color: #acb1d4;
}

.hljs-params {
    color: #ffffff;
}

/* Orange */
.hljs-meta,
.hljs-type {
    color: #eedcd3;
}

.hljs-string {
    color: #dfc5b2;
}

.hljs-symbol,
.hljs-bullet {
    color: #848aae;
}

.hljs-title,
.hljs-section {
    color: #f5c5af;
}

.hljs-selector-tag {
    color: #844a8f;
}

.hljs {
    display: block;
    overflow-x: auto;
    background: #1c1e24ff;
    color: #d8d8e0;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-addition {
    color: #22863a;
    background-color: #f0fff4;
}

.hljs-deletion {
    color: #b31d28;
    background-color: #ffeef0;
}
