/*
 * An increased contrast highlighting scheme loosely based on the
 * "Base16 Atelier Dune Light" theme by Bram de Haan
 * (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/dune)
 * Original Base16 color scheme by Chris Kempson
 * (https://github.com/chriskempson/base16)
 */

/* Comment */
.hljs-comment,
.hljs-quote {
    color: #8a8e96;
}

.hljs-keyword,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
    color: #f75550;
}

.hljs-number,
.hljs-literal {
    /* color: #848cb8; */
    /* color: #8091ff; */
    color: #6c91c2;
}

.hljs-built_in,
.hljs-builtin-name {
    color: #6c91c2;
}

.hljs-params {
    color: #ffffff;
}

.hljs-meta,
.hljs-type {
    color: #fcd0bdff;
}

.hljs-string {
    color: #f2c292ff;
}

.hljs-symbol,
.hljs-bullet {
    color: #b27389;
}

.hljs-title,
.hljs-section {
    color: #f7aa8fff;
    /* color: #fff; */
}

.hljs-selector-tag {
    color: #844a8f;
}

.hljs-variable,
.hljs-template-variable {
    color: #dddde4;
}

.hljs {
    display: block;
    overflow-x: auto;
    background: #1c1e24ff;
    color: #dddde0;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-addition {
    color: #22863a;
    background-color: #f0fff4;
}

.hljs-deletion {
    color: #b31d28;
    background-color: #ffeef0;
}
